img.preview {
    margin-top: 52px;
    max-height: 500px;
}

.tabs-panel {
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}

.tabs-content {
    height: 100%;
    max-height: 100%;
    vertical-align: top;
    overflow: hidden;
}